body {
    background-color: #f9f8fc;
}

.title {
    text-align: center;
    font-family: "Work Sans" ;
    font-size: 60px;
    color: rgb(134, 116, 150);
}

#backBtn {
    border-width: 1px;
    border-radius: 10px;
    height: 35px;
    width: 100px;
}

.logoTitleOne {
    position: absolute;
    top: -25px;
    right: 5px;
    font-family: "Work Sans" ;
    font-size: 30px;
    color: rgb(134, 116, 150);
}

.logoTitleTwo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-family: "Work Sans" ;
    font-size: 30px;
    color: rgb(134, 116, 150);
}

#contBtn {
    border-width: 1px;
    border-radius: 10px;
    height: 35px;
    width: 100px;
    margin-left: 300%;
    
}

#createBtn {
    border-width: 1px;
    border-radius: 10px;
    height: 35px;
    width: 150px;
}

.shilling {
    text-align: center;
    color: red;
}


.buttons {
    display: inline-flex;
    margin-left: 35%;
  }
  
.payment {
    margin: auto;
    width: 10%;
  }

.billing {
    margin: auto;
    width: 10%;
  }
   