body {
    background-color: #f9f8fc;
}

#backBtn {
    border-width: 1px;
    border-radius: 10px;
    height: 35px;
    width: 100px;
}

.logoTitleOne {
    position: absolute;
    top: -25px;
    right: 5px;
    font-family: "Work Sans" ;
    font-size: 30px;
    color: rgb(134, 116, 150);
}

.logoTitleTwo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-family: "Work Sans" ;
    font-size: 30px;
    color: rgb(134, 116, 150);
}

.accountInfoTitle {
    text-align: center;
    font-family: "Work Sans" ;
    font-size: 60px;
    color: rgb(134, 116, 150);
}

br {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.accountInformation {
    text-align: center;
    font-family: "Work Sans" ;
    font-size: 18px;
    color: rgb(134, 116, 150);
}

.two-col{
    overflow: hidden;
}

.two-col .col1,
.two-col .col2 {
    width: 35%;
}

.col1 {
    float: left;
    margin-left: 50px;
}

.col2 {
    float: right;
}

#firstName {
    border: 0;
    background-color: #d2ceee ; 
    border-radius: 10px;
    height: 35px ;
    width: 200px;
}

#lastName {
    border: 0;
    background-color: #d2ceee ; 
    border-radius: 10px;
    height: 35px ;
    width: 200px;
}

#emailAddress {
    border: 0;
    background-color: #d2ceee ; 
    border-radius: 10px;
    height: 35px ;
    width: 200px;
}

#licenseNo {
    border: 0;
    background-color: #d2ceee ; 
    border-radius: 10px;
    height: 35px ;
    width: 200px;
}

#address {
    border: 0;
    background-color: #d2ceee ; 
    border-radius: 10px;
    height: 35px ;
    width: 200px;
}

.plus1 {
    border: 0;
    background-color: #d2ceee ; 
    border-radius: 10px;
    height: 35px ;
    width: 35px;
}

#paymentMds {
    border: 0;
    background-color: #d2ceee ; 
    border-radius: 10px;
    height: 35px ;
    width: 200px;
}

.plus2 {
    border: 0;
    background-color: #d2ceee ; 
    border-radius: 10px;
    height: 35px ;
    width: 35px;
}

#saveBtn {
    border-width: 1px;
    border-radius: 10px;
    height: 35px;
    width: 100px;
    color: white;
    background-color: green;
}

.saveBtn {
    text-align: center;
}

#cancelBtn {
    border-width: 1px;
    border-radius: 10px;
    height: 35px;
    width: 100px;
}

.cancelBtn {
    text-align: center;
}

#viewDataBtn {
    border-width: 1px;
    border-radius: 10px;
    height: 35px;
    width: 100px;
}

.viewDataBtn {
    text-align: center;
}
